// Typed native CSS custom properties

/**
* Allows degrees to be animatiable/interpolable
*/
@property --animatable-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/**
* Set by `useDropdownLayer` to dynamically constrain the
* height of dropdown layers based on available visual viewport.
*
* The `svh` unit refers to "small viewport height". On mobile devices,
* "small" means the keyboard is open. `lvh` is keyboard closed.
*/
@property --nds-layer-max-height {
  syntax: "<length>";
  inherits: true;
  initial-value: 100svh;
}

/**
* Defines a `position-try` ruleset used by `useDropdownLayer`.
* This is the default strategy for placing dropdowns, and we also
* use this ruleset to calculate the max height of the dropdown based
* on visible viewport space.
*/
@position-try --nds-dropdown-above {
  position-area: top;
  --nds-layer-max-height: calc(
    anchor(top) - env(safe-area-inset-top, 0px) - var(--space-s)
  );
  max-height: var(--nds-layer-max-height);
}
