%chipAlignedContent {
  height: rem(24px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nds-chip {
  @extend %chipAlignedContent;
  border-radius: rem(24px);
  font-size: var(--font-size-s);
  padding: rem(2px) var(--space-s);
  width: fit-content;
  max-width: 60ch; // label truncates when max constraint is reached.

  // Variant where entire chip is clickable
  &--button {
    transition: all 60ms ease-out;
    &:hover {
      transform: scale(1.033);
    }
    &:active {
      transform: scale(1);
    }
  }

  // `kind` variants
  &--info {
    background-color: var(--color-infoLight);
    border-color: var(--color-infoLight);
  }
  &--success {
    background-color: var(--color-successLight);
    border-color: var(--color-successLight);
  }
  &--warn {
    background-color: var(--color-warnLight);
    border-color: var(--color-warnLight);
  }
  &--error {
    background-color: var(--color-errorLight);
    border-color: var(--color-errorLight);
  }
  &--secondary {
    background-color: var(--color-white);
    border: 1px solid var(--font-color-primary);
  }
  &--primary {
    background-color: RGBA(var(--theme-rgb-primary), var(--alpha-10));
  }

  // Individual style controls/props
  // <https://www.figma.com/design/nCjdO761StnkwNZHFmcrUu/Narmi-Design-System-v2?node-id=370-5171&m=dev>
  &--hasBorder {
    border: 1px solid;
  }
}

.nds-chip-label {
  user-select: none;
}

.nds-chip-icon {
  @extend %chipAlignedContent;
  width: rem(16px);
  font-size: var(--font-size-s);
}

.nds-chip-dismiss {
  transition: all 100ms ease-out;
  font-size: var(--font-size-default);

  &:focus,
  &:hover,
  &:active {
    font-weight: var(--font-weight-semibold);
  }
  &:focus,
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(1);
  }
}
