.nds-combobox {
  position: relative;
}

.nds-combobox--active .nds-input-box {
  border-color: var(--theme-primary);
  border-bottom-width: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.nds-combobox-list {
  visibility: hidden;
  position: absolute;
  z-index: 3;
  border-color: var(--theme-primary);
  border-top: 1px solid var(--border-color-default);
  top: 47px; // 48px tall TextInput -1 to connect borders
  width: 100%;
  max-height: 60vh;
  overflow-y: scroll;

  &:focus {
    outline: none;
  }
}

.nds-combobox-list--active {
  visibility: visible;
}

.nds-combobox-item,
.nds-combobox-heading {
  min-height: var(--space-xl);
}

.nds-combobox-item {
  cursor: pointer;
  position: relative;
  &:hover,
  &--highlighted {
    background: RGBA(var(--theme-rgb-primary), var(--alpha-5));
  }
  &--hasGutter {
    padding-left: var(--space-xl) !important;
  }
  .narmi-icon-check {
    position: absolute;
    left: var(--space-s);
    top: 50%;
    transform: translateY(-50%);
  }
}
