.nds-checkbox-container {
  margin-bottom: var(--space-s);

  .nds-checkbox {
    cursor: pointer;
    font-size: var(--font-size-default);

    input {
      cursor: pointer;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  }
}

.nds-checkbox--normal {
  display: flex;
  width: fit-content;
  position: relative;
  align-items: center;
  padding-left: 28px;

  .narmi-icon-check {
    position: absolute;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid var(--color-lightGrey);
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 18px;
    box-sizing: content-box;
    &:after {
      color: red;
    }
    &.error {
      border: 1px solid var(--color-errorDark);
    }
  }

  // hover
  .narmi-icon-check:hover {
    border-color: var(--theme-primary);
  }

  // focused
  &.nds-checkbox--focused .narmi-icon-check {
    border-color: var(--theme-primary);
    outline: 3px solid RGBA(var(--theme-rgb-primary), var(--alpha-10));
  }

  // checked
  &.nds-checkbox--checked {
    .narmi-icon-check {
      background-color: var(--theme-primary);
      border-color: var(--theme-primary);
      &:after {
        display: block;
      }
    }
  }
}

.nds-checkbox--card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);
  color: var(--color-primary);
  font-weight: var(--font-weight-semibold);

  .narmi-icon-check {
    display: none;
  }

  &:hover,
  &.nds-checkbox--checked,
  &.nds-checkbox--focused {
    border-color: var(--theme-primary);
  }

  &.nds-checkbox--checked {
    background-color: RGBA(var(--theme-rgb-primary), var(--alpha-5));
  }

  &.nds-checkbox--checked {
    .narmi-icon-check {
      margin-left: var(--space-default);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: var(--space-default);
      height: var(--space-default);
      border-radius: 100%;
      background-color: var(--theme-primary);
      color: var(--color-white);
      font-size: var(--font-size-s);
      font-weight: var(--font-weight-default);
    }
  }
}
