.nds-checkbox {
  display: flex;
  width: fit-content;
  position: relative;
  padding-left: 28px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  align-items: center;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .narmi-icon-check {
      background-color: var(--theme-primary);
      border: 1px solid var(--theme-primary);
      &:after {
        display: block;
      }
    }
  }

  .narmi-icon-check {
    position: absolute;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid var(--color-lightGrey);
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 18px;
    box-sizing: content-box;
    &:hover {
      border: 2px solid var(--theme-primary);
    }
    &:after {
      color: var(--color-red);
    }
  }
}
