.nds-dialog-root {
  position: fixed;
  inset: 0;
}

.nds-shim--dark {
  position: absolute;
  top: env(safe-area-inset-top, 0px);
  right: env(safe-area-inset-right, 0px);
  bottom: env(safe-area-inset-bottom, 0px);
  left: env(safe-area-inset-left, 0px);
  background-color: var(--bgColor-scrimDark);
  min-height: 100dvh;
  z-index: 3;

  // create spaces around viewport edges for tablet or larger
  @include atMediaUp("s", $includeHeight: true) {
    align-items: flex-start;
    padding: var(--space-default);
    padding-top: clamp(var(--space-default), 10vh, 120px);
  }
}

.nds-dialog-transition-appear {
  opacity: 0;
}

.nds-dialog-transition-appear-done {
  opacity: 1;
  transition: opacity 200ms;
}

.nds-dialog-transition-exit {
  opacity: 1;
}

.nds-dialog-transition-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.nds-dialog-focuslock {
  position: absolute;
  top: env(safe-area-inset-top, 0px);
  bottom: env(safe-area-inset-bottom, 0px);

  // bottom align the dialog within the available area on small screens
  display: flex;
  justify-content: center;
  align-items: flex-end;

  // "shrink wrap" the focus trap element to the dialog and center it
  width: fit-content;
  margin: 0 auto;

  // for tablet or larger, display the modal dialog as a floating box.
  @include atMediaUp("s", $includeHeight: true) {
    position: static;
    height: auto !important;
  }
}

.nds-dialog {
  position: relative;
  background-color: var(--bgColor-white);
  box-shadow: var(--elevation-high);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-top-right-radius: var(--border-radius-default);
  border-top-left-radius: var(--border-radius-default);

  max-height: 96%; // relative to parent, .nds-dialog-focuslock
  min-width: 100dvw;

  // for tablet or larger, display the modal dialog as a floating box.
  @include atMediaUp("s", $includeHeight: true) {
    border-radius: var(--border-radius-default);
    max-height: 80vh; // prevent modal from being taller than the shim content box
    min-width: 240px; // should be no narrower than this on larger viewports
    width: var(--dialog-preferred-width);
  }
}

.nds-dialog-header {
  background-color: var(--bgColor-cloudGrey);
  padding-inline: var(--space-m);
  padding-block: var(--space-s);

  h4 {
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    color: var(--font-color-heading);
    font-weight: var(--font-weight-semibold);
  }

  @include atMediaUp("s", $includeHeight: true) {
    background-color: var(--color-white);
    padding-inline: unset;
    padding-block: unset;
    margin-inline: var(--space-l);
    margin-top: var(--space-l);
    border-bottom: 1px solid var(--border-color-default);

    h4 {
      font-size: var(--font-size-l);
      font-weight: var(--font-weight-semibold);
      margin-bottom: var(--space-l);
    }
  }
}

.nds-dialog-header--banner {
  background-color: var(--theme-primary);

  h4,
  .nds-dialog-closeButton {
    color: var(--color-white) !important;
  }

  h4 {
    margin-bottom: unset;
  }

  @include atMediaUp("s", $includeHeight: true) {
    margin: 0;
    padding-inline: var(--space-l);
    padding-block: var(--space-m);
    border-top-left-radius: var(--border-radius-default);
    border-top-right-radius: var(--border-radius-default);
  }
}

.nds-dialog-closeButton {
  font-size: var(--font-size-xl) !important;
  color: var(--font-color-primary);

  // Scale effect on hover.
  transition: scale 150ms ease;
  &:focus,
  &:hover {
    scale: 1.1;
  }

  @include atMediaUp("s", $includeHeight: true) {
    transform: translateY(-0.18em);
  }
}

.nds-dialog-header,
.nds-dialog-footer,
.nds-dialog-notification {
  flex-basis: auto;
  flex-grow: 0;
  height: initial;
}

.nds-dialog-content {
  padding-inline: var(--space-l);
  padding-block: var(--space-s);
  overflow-y: auto;
  flex-grow: 1;
}

.nds-dialog-footer {
  margin: 0 var(--space-l) var(--space-l);
  border-top: 1px solid var(--border-color-default);
  padding-top: var(--space-l);
}
