.nds-dialog {
  --overflow-gradient-height: 20px;
}

.nds-shim--dark {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--bgColor-scrimDark);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
  z-index: 3;

  // create spaces around viewport edges for tablet or larger
  @include atMediaUp("s") {
    align-items: flex-start;
    padding: var(--space-default);
    padding-top: 120px;
  }
}

.nds-dialog-transition-appear {
  opacity: 0;
}

.nds-dialog-transition-appear-done {
  opacity: 1;
  transition: opacity 200ms;
}

.nds-dialog-transition-exit {
  opacity: 1;
}

.nds-dialog-transition-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.nds-dialog {
  position: relative;
  background-color: var(--bgColor-white);
  box-shadow: var(--elevation-high);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-top-right-radius: var(--border-radius-m);
  border-top-left-radius: var(--border-radius-m);

  // the modal dialog takes over the whole screen by default
  // (small viewports)
  height: 96vh; // fall back to 196vh for older mobile browsers
  height: 96dvh; // prevents toolbar overlap in modern mobile browsers
  width: 100vw;

  // for tablet or larger, display the modal dialog as a floating box.
  @include atMediaUp("s") {
    height: auto !important;
    border-radius: var(--border-radius-m);
    max-height: 80vh; // prevent modal from being taller than the shim content box
    min-width: 240px; // should be no narrower than this on larger viewports
    width: var(--dialog-preferred-width);
  }
}

.nds-dialog-header {
  background-color: var(--bgColor-cloudGrey);
  border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;
  padding: var(--space-s);

  h4 {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    color: var(--font-color-heading);
    font-weight: var(--font-weight-semibold);
  }

  @include atMediaUp("s") {
    background-color: var(--color-white);
    margin: 0 var(--space-xl);
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xxs);
    border-radius: 0;

    h4 {
      font-size: var(--font-size-l);
      font-weight: var(--font-weight-bold);
    }
  }
}

.nds-dialog-header--bordered {
  @include atMediaUp("s") {
    border-bottom: var(--border-size-m) solid var(--theme-primary);
  }
}

.nds-dialog-header--banner {
  background-color: var(--theme-primary);
  color: white;
  margin: 0 0;
  padding: 0 var(--space-s) 0 var(--space-s);
  @include atMediaUp("s") {
    border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
  }
}

.nds-dialog-closeButton {
  position: absolute;
  font-size: var(--font-size-l) !important;
  color: var(--font-color-primary);
  right: var(--space-m);
  top: var(--space-xs);
  @include atMediaUp("s") {
    top: var(--space-m);
  }
}

.nds-dialog-closeButton--banner {
  color: white !important;
}

.nds-dialog-header,
.nds-dialog-footer,
.nds-dialog-notification {
  flex-basis: auto;
  flex-grow: 0;
  height: initial;
}

.nds-dialog-content {
  padding: 0 var(--space-xl);
  overflow-y: auto;
  flex-grow: 1;
}

.nds-dialog-footer {
  margin: 0 var(--space-xl) var(--space-xl);
  padding-top: var(--space-default);
}

.nds-dialog-footer--overflowing {
  position: relative;

  // prevent edge case where last line of text is obscured by the overflow
  // gradient above the dialog footer
  .nds-dialog-content {
    padding-bottom: var(--overflow-gradient-height);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    /* stack on top of footer border */
    height: var(--overflow-gradient-height);
    background-image: linear-gradient(
      to top,
      var(--color-white),
      RGBA(var(--rgb-white), 0.33)
    );
  }
}
