/* AnchoredDialog component styles */
.nds-anchoredDialog {
  @extend %nds-dropdown-layer;
  // this will scroll within the content area instead.
  overflow-y: unset !important;
  width: clamp(200px, max-content, 80vw);
  max-width: 80vw;
  box-shadow: var(--elevation-middle);
}

.nds-anchoredDialog-inner {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-height: 70vh;
}

.nds-anchoredDialog-header,
.nds-anchoredDialog-footer {
  padding: var(--space-xs) var(--space-default);
}

.nds-anchoredDialog-content {
  // right side gets extra padding for scroll gutter.
  padding: var(--space-xs) var(--space-xl) var(--space-xs) var(--space-default);
  overflow-y: auto;
  min-height: 0;
}
