.nds-progressbar {
  background: rgba(var(--theme-rgb-primary), var(--alpha-10));
  box-sizing: border-box;
  position: relative;
  height: rem(20px);
  border-radius: rem(40px);
  overflow: hidden;

  line {
    stroke: var(--theme-primary);
    stroke-width: rem(20px);
  }
}

.nds-progressbar svg {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
