.nds-progressbar {
  background: rgba(var(--theme-rgb-primary), var(--alpha-10));
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  line {
    stroke: var(--theme-primary);
  }

  &--m {
    height: rem(8px);
    border-radius: rem(16px);
    line {
      stroke-width: rem(8px);
    }
  }

  &--s {
    height: rem(4px);
    border-radius: rem(8px);
    line {
      stroke-width: rem(4px);
    }
  }

  &--fullBleed {
    border-radius: 0;
  }
}

.nds-progressbar svg {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
