// base option styles
.nds-radiobuttons-option {
  display: block;
  margin-bottom: var(--space-s);
  font-size: var(--font-size-default);
  &:last-child {
    margin-bottom: 0;
  }
}

// row-start variant of radiobuttons
.nds-radiobuttons--row-start {
  display: flex;
  gap: var(--space-m);
}

// row variant of radiobuttons
.nds-radiobuttons--row {
  display: flex;
  justify-content: space-between;
}

// details styles
.nds-radiobutton-details {
  margin-top: var(--space-xs);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-default) !important;
  color: var(--font-color-secondary);
}
