.nds-radiobutton-group {
  display: inline-block;

  .nds-label {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.25;
    font-family: var(--nds-font-family);
    font-weight: 400;

    input {
      position: absolute;
      opacity: 0;
      display: none;
      cursor: pointer;

      &:checked {
        ~ .nds-checkmark {
          background-color: transparent;
          border: 2px solid RGB(var(--nds-primary-color));

          &:after {
            display: block;
          }
        }
      }
    }

    &:hover input ~ .nds-checkmark {
      border: 2px solid RGB(var(--nds-primary-color));
    }

    .nds-checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: transparent;
      border: 1px solid RGB(var(--nds-lightest-grey));
      border-radius: 50%;

      &:after {
        content: "";
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background: RGB(var(--nds-primary-color));
      }
    }
  }
}
