.nds-card {
  width: 100%;
  height: 100%;
  box-shadow: RGB(var(--nds-dropshadow-light));
  border-radius: 4px;

  padding: 20px;
  background-color: RGB(var(--nds-white));
  border: 1px solid RGB(var(--nds-lightest-grey));

  &[data-hoverable="true"] {
    box-shadow: none;
    cursor: pointer;
  }

  &[data-hoverable="true"]:active,
  &[data-hoverable="true"]:hover,
  &[data-selected="true"] {
    border: 1px solid RGB(var(--nds-primary-color));
  }

  &[data-hoverable="true"]:active,
  &[data-selected="true"] {
    background-color: RGBA(var(--nds-primary-color), var(--subdued-5-opacity));
  }

  @media (max-width: $mobile_size) {
    padding: 0;
  }

  .nds-card-heading {
    align-items: baseline;
    justify-content: space-between;
    display: flex;

    .nds-card-title {
      color: RGB(var(--nds-primary-color));
      margin: 0;
      line-height: 28px;

      [class^="narmi-icon-"],
      [class*=" narmi-icon-"] {
        margin-left: 4px;
      }
    }
  }

  .nds-card-content {
    margin-top: 4px;
    font-size: 16px;

    > p:first-child {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
