.nds-disabledShim {
  position: relative;
  width: 100%;
}

.nds-disabledShim--disabled::after {
  content: "";
  user-select: none;
  pointer-events: none;
  position: absolute;
  inset: 0;
  background-color: var(--bgColor-scrimLight);
  border-radius: var(--border-radius-default);
  z-index: 2;
}
