.nds-icon-button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--button-radius);
  height: rem(32px);
  width: rem(32px);

  &.fontSize--l {
    [class^="narmi-icon-"] {
      transform: translate(rem(0px), rem(-1px));
    }
  }

  &:focus-visible {
    outline: revert;
  }
}

.nds-icon-button--action {
  --button-radius: 50%;
  color: var(--font-color-secondary);

  &:hover {
    color: var(--theme-primary);
    background-color: rgba(var(--theme-rgb-primary), var(--alpha-5));
    text-decoration: none;
  }
}

.nds-icon-button--plain {
  height: rem(24px);
  width: rem(24px);
  color: var(--font-color-secondary);
}

.nds-icon-button--plain {
  font-weight: var(--font-weight-semibold);

  &:hover {
    color: var(--theme-secondary);
  }
}

.nds-icon-button--disabled {
  pointer-events: none;
  color: var(--color-white);

  &.nds-icon-button--plain {
    color: var(--font-color-hint);
  }
  &.nds-icon-button--action {
    background-color: var(--color-lightGrey);
  }
}
