.nds-table {
  // TODO: sensible typographic defaults
}

.nds-table-body,
.nds-table-header {
  display: grid;
  grid-auto-rows: auto;
}

.nds-table-row {
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: subgrid;
  column-gap: var(--space-s);
  grid-column: 1 / -1; // span entire parent grid
}

.nds-table-cell {
  background-color: var(--color-white);
  color: var(--fontColor-primary);
  padding: var(--space-xs) var(--space-s);
  background: lightgoldenrodyellow;
}
