.nds-separatorList {
  &--noWrap {
    white-space: nowrap;
  }

  li {
    display: inline-flex;
    align-items: center;
  }

  li[data-separator]::after {
    content: attr(data-separator);
    color: var(--font-color-hint);
    padding: 0 var(--space-xs);
  }
}
