/**
* MultiSelect styles
*
* Base styles mostly copied from `Select`.
* We can unify these styles later, but for now,
* we're leaving them separate to make iteration easier.
*/

.nds-multiselect-list {
  @extend %nds-dropdown-layer;
  max-height: 46vh;
}

.nds-multiselect-item {
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  min-height: var(--space-xl);
  &:hover,
  &--highlighted {
    background: RGBA(var(--theme-rgb-primary), var(--alpha-5));
  }
}

.nds-multiselect-tokensList {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs) var(--space-s);
  margin-right: var(--space-s); // make room for the right caret
}

.nds-multiselect-clearAll {
  position: absolute;
  right: 38px;
  top: 50%;
  transform: translateY(-50%);
}
