%trigger-hover {
  color: var(--theme-primary);
  background-color: rgba(var(--theme-rgb-primary), var(--alpha-5));
  text-decoration: none;
}

.nds-menubutton-trigger {
  color: var(--font-color-secondary);
  border-radius: var(--border-radius-s);

  &--useCssHover {
    &:focus button,
    &:hover,
    &:active {
      @extend %trigger-hover;
    }
  }

  // forces hover effect when menu is open
  &--hovered {
    @extend %trigger-hover;
  }
}

/**
* Reach MenuButton theme
*/
:root {
  --reach-menu-button: 1;
}

[data-reach-menu] {
  position: relative;
}

[data-reach-menu-popover] {
  display: block;
  position: absolute;
}

[data-reach-menu-popover][hidden] {
  display: none;
}

[data-reach-menu-list],
[data-reach-menu-items] {
  display: block;
  white-space: nowrap;
  box-shadow: var(--elevation-high);
  outline: none;
}

[data-reach-menu-item] {
  display: block;
  user-select: none;
}

[data-reach-menu-item] {
  cursor: pointer;
  display: block;
  color: inherit;
  font: inherit;
  text-decoration: initial;
}

/* pseudo pseudo selector */
[data-reach-menu-item][data-selected] {
  background: rgba(var(--theme-rgb-primary), var(--alpha-5));
  outline: none;
}

[data-reach-menu-item][aria-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
