@import "../Spinner/index.scss";
@import "./variants.scss";
@import "./sizes.scss";
@import "./states.scss";

.nds-button,
.nds-button.resetButton {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  line-height: var(--font-lineHeight-bigText);
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: rem(24px);
  overflow: hidden;
}

// The click should always originate from the root button or anchor element
.nds-button *,
.nds-button.resetButton * {
  pointer-events: none;
}

/* Size variants */
.nds-button--xs {
  @extend %btn-size-xs;
}
.nds-button--s {
  @extend %btn-size-s;
}
.nds-button--m {
  @extend %btn-size-m;
}
.nds-button--l,
.nds-button--xl {
  // unimplemented sizes should fall back to "m"
  @extend %btn-size-m;
}

/* Kind variants */
.nds-button--primary,
.nds-button--primary.resetButton {
  @extend %btn-kind-primary;
}

.nds-button--secondary,
.nds-button--secondary.resetButton {
  @extend %btn-kind-secondary;
}

.nds-button--tonal,
.nds-button--tonal.resetButton {
  @extend %btn-kind-tonal;
}

/**
️* ⚠️ DEPRECATED ⚠️
* Will be removed in a future release.
*/
.nds-button--m.nds-button--menu .nds-button-content {
  margin: 0;
}
.nds-button--menu,
.nds-button--menu.resetButton {
  @extend %btn-kind-menu;
}

.nds-button--negative,
.nds-button--negative.resetButton {
  @extend %btn-kind-negative;
}

.nds-button--disabled {
  &.nds-button--menu,
  &.nds-button--plain,
  &.nds-button--negative {
    @extend %btn-state-disabled-plain;
  }
  &.nds-button--primary {
    @extend %btn-state-disabled-primary;
  }
  &.nds-button--secondary {
    @extend %btn-state-disabled-secondary;
  }
  &.nds-button--tonal {
    @extend %btn-state-disabled-tonal;
  }
}

.nds-button--loading {
  @extend %btn-state-loading;
}

.nds-button--plain {
  @extend %btn-kind-plain;
}
