.nds-button,
.nds-button.resetButton {
  box-sizing: border-box;
  display: inline-flex;
  position: relative;
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-default);
  line-height: var(--font-lineHeight-bigText);
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  border-radius: 20px;

  /* mobile buttons have slightly taller padding for ease of tapping */
  @media (max-width: $mobile_size) {
    min-height: 48px;
  }

  .nds-button-content {
    margin: var(--space-xs) 32px;
    max-width: 240px;
  }
}

.nds-button--primary,
.nds-button--primary.resetButton {
  color: var(--color-white);
  background-color: var(--theme-primary);

  &:hover {
    filter: opacity(80%);
  }
}

.nds-button--secondary,
.nds-button--secondary.resetButton {
  color: var(--theme-primary);
  background-color: var(--color-white);
  border: var(--border-size-s) solid var(--theme-primary);

  &:hover {
    background-color: RGBA(var(--theme-rgb-primary), var(--alpha-10));
  }
}

.nds-button--menu,
.nds-button--menu.resetButton {
  text-align: left;
  color: var(--font-color-primary);
  display: block;
  font-size: var(--font-size-l);

  .nds-button-content {
    margin: 10px 0;
  }

  @media (min-width: $desktop-small) {
    margin: 0 12px;
    font-weight: var(--font-weight-semibold);
    display: inline-block;
    font-size: var(--font-size-default);
  }
}

.nds-button--plain,
.nds-button--plain.resetButton {
  color: var(--theme-primary);
  font-weight: var(--font-weight-semibold);
  border-radius: 0;
  justify-content: start;

  .nds-button-content {
    margin: 0;
  }

  &:hover {
    text-decoration: underline;
  }
}

.nds-button--disabled {
  pointer-events: none;
  color: var(--color-white);

  &.nds-button--menu,
  &.nds-button--plain {
    color: var(--font-color-hint);
  }
  &.nds-button--primary {
    background-color: var(--color-lightGrey);
  }
  &.nds-button--secondary {
    color: var(--color-lightGrey);
    border-color: var(--color-lightGrey);
  }
}

/**
️* ⚠️ DEPREACTED ⚠️
* Will be removed in a future release.
*/
.nds-plain-button {
  cursor: pointer;
  color: RGB(var(--nds-primary-color));
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-default);

  &:hover {
    text-decoration: underline;
    color: RGB(var(--nds-primary-color));
  }
}
