@import "../Spinner/index.scss";
@import "./variants.scss";
@import "./sizes.scss";
@import "./states.scss";

.nds-button,
.nds-button.resetButton {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  line-height: var(--font-lineHeight-bigText);
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: rem(24px);
  overflow: hidden;

  /* mobile buttons have slightly taller padding for ease of tapping */
  @media (max-width: #{map.get($breakpoints, "s")}) {
    min-height: rem(48px) !important;
  }
}

/* Size variants */
.nds-button--xs {
  @extend %btn-size-xs;
}
.nds-button--s {
  @extend %btn-size-s;
}
.nds-button--m {
  @extend %btn-size-m;
}
.nds-button--l,
.nds-button--xl {
  // unimplemented sizes should fall back to "m"
  @extend %btn-size-m;
}

/* Kind variants */
.nds-button--primary,
.nds-button--secondary,
.nds-button--tonal {
  @extend %btn-kind-base;
}

.nds-button--primary,
.nds-button--primary.resetButton {
  @extend %btn-kind-primary;
}

.nds-button--secondary,
.nds-button--secondary.resetButton {
  @extend %btn-kind-secondary;
}

.nds-button--tonal,
.nds-button--tonal.resetButton {
  @extend %btn-kind-tonal;
}

/**
️* ⚠️ DEPRECATED ⚠️
* Will be removed in a future release.
*/
.nds-button--menu,
.nds-button--menu.resetButton {
  @extend %btn-kind-menu;
}

.nds-button--negative,
.nds-button--negative.resetButton {
  @extend %btn-kind-negative;
}

.nds-button--disabled {
  &.nds-button--menu,
  &.nds-button--plain,
  &.nds-button--negative {
    @extend %btn-state-disabled-plain;
  }
  &.nds-button--primary {
    @extend %btn-state-disabled-primary;
  }
  &.nds-button--secondary {
    @extend %btn-state-disabled-secondary;
  }
  &.nds-button--tonal {
    @extend %btn-state-disabled-tonal;
  }
}

.nds-button--loading {
  @extend %btn-state-loading;
}

.nds-button--plain {
  @extend %btn-kind-plain;
}

/**
️* ⚠️ DEPRECATED ⚠️
* Will be removed in a future release.
*/
.nds-plain-button {
  @extend %btn-kind-plain;
}
