%btn-size-xs {
  font-size: var(--font-size-xs);
  min-height: rem(24px);
  .nds-button-content {
    margin: 0 rem(12px);
    max-width: rem(200px);
  }
}

%btn-size-s {
  font-size: var(--font-size-default);
  min-height: rem(32px);
  .nds-button-content {
    margin: 0 rem(16px);
    max-width: rem(220px);
  }
}

%btn-size-m {
  font-size: var(--font-size-default);
  min-height: rem(40px);
  .nds-button-content {
    margin: 0 rem(16px);
    max-width: rem(240px);
  }
}
