%_btn-state-disabled-base {
  pointer-events: none;
  user-select: none;
  color: var(--color-mediumGrey);
  border: var(--border-size-default) solid var(--border-color-default);
}

// used for all buttons that render without a pill shape
%btn-state-disabled-plain {
  @extend %_btn-state-disabled-base;
  border-width: 0 !important;
  color: var(--font-color-hint);
}

%btn-state-disabled-primary {
  @extend %_btn-state-disabled-base;
  background-color: rgba(var(--rgb-lightGrey), var(--alpha-20));
}

%btn-state-disabled-secondary {
  @extend %_btn-state-disabled-base;
}

%btn-state-disabled-tertiary {
  @extend %_btn-state-disabled-base;
}

%btn-state-disabled-tonal {
  @extend %_btn-state-disabled-base;
  background-color: rgba(var(--rgb-lightGrey), var(--alpha-20));
}

%btn-state-loading {
  .nds-button-content {
    position: relative;
  }
  .nds-button-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
