%btn-kind-primary {
  color: var(--color-white);
  background-color: var(--theme-primary);

  &:hover {
    color: var(--color-white);
    text-decoration: none;
    filter: opacity(80%);
  }
}

%btn-kind-secondary {
  position: relative;
  color: var(--theme-primary);
  background-color: var(--color-white);
  border: var(--border-size-s) solid var(--theme-primary);

  // adds a white shim behind the button so that the transparent
  // hover color appears the same regardless of context
  &::before {
    content: "";
    border-radius: var(--button-radius);
    background-color: var(--color-white);
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &:hover {
    background-color: RGBA(var(--theme-rgb-primary), var(--alpha-10));
  }
}

%btn-kind-tonal {
  color: var(--theme-primary);
  background-color: RGBA(var(--theme-rgb-primary), var(--alpha-20));

  &:hover,
  &:active {
    background-color: RGBA(var(--theme-rgb-primary), var(--alpha-10));
  }
}

%_btn-kind-plain-base {
  color: var(--theme-secondary);
  border-radius: 0;
  justify-content: start;
  min-height: unset;

  // Plain and Negative buttons gets a special override to make it semibold.
  // All other buttons inherit their font weight from `sizes` placeholders.
  font-weight: var(--font-weight-semibold) !important;

  &:hover {
    color: var(--theme-secondary);
    .nds-button-label {
      text-decoration: underline;
    }
  }
}

%btn-kind-negative {
  @extend %_btn-kind-plain-base;
  color: var(--theme-primary);
  &:hover {
    color: var(--theme-primary);
  }
}

%btn-kind-plain {
  @extend %_btn-kind-plain-base;
  border-radius: 0 !important;

  // The "plain" variant should behave like a text link
  &.nds-button,
  &.nds-button .nds-button-content {
    text-align: start;
    width: unset;
    max-width: unset;
    margin: 0 !important;
  }

  &:hover {
    color: var(--theme-primary);
    .nds-button-label {
      text-decoration: underline;
    }
  }
}

/**
️* ⚠️ DEPRECATED ⚠️
* Will be removed in a future release.
*/
%btn-kind-menu {
  text-align: left;
  color: var(--font-color-primary);
  display: block;
  font-size: var(--font-size-l) !important;

  .nds-button-content {
    margin: 0;
  }

  @media (min-width: #{map.get($breakpoints, "l")}) {
    margin: 0 rem(12px);
    font-weight: var(--font-weight-semibold);
    display: inline-block;
    font-size: var(--font-size-default) !important;
  }
}
