.nds-avatar {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
  word-break: normal;
}

.nds-avatar--xs {
  height: rem(24px);
  width: rem(24px);
  font-size: var(--font-size-s);
}

.nds-avatar--s {
  height: rem(32px);
  width: rem(32px);
}

.nds-avatar--m {
  height: rem(40px);
  width: rem(40px);
  font-size: var(--font-size-l);
}

.nds-avatar--primary {
  color: white;
  background-color: var(--theme-primary);
}

.nds-avatar--tonal {
  color: var(--theme-primary);
  background-color: rgba(var(--theme-rgb-primary), var(--alpha-10));
}
