$mobile_size: 375px;
$tablet: 768px;
$desktop-small: 1280px;
$desktop-big: 1440px;

// NDS Tokens
@import "../dist/tokens/css/tokens.css";
@import "../dist/tokens/css/rgbColors.css";

// ⚠️ DEPRECATED ⚠️
// These custom properties will be removed in a future release.
// For now, they map to the equivalent value from NDS Tokens
:root {
  --nds-black: var(--rgb-black); /* #333333 */
  --nds-grey: var(--rgb-grey); /* #4C4C4C */
  --nds-medium-grey: var(--rgb-mediumGrey); /* #8C8C8C */
  --nds-lightest-grey: var(--rgb-lightGrey); /* #D9D9D9 */
  --nds-smoke-grey: var(--rgb-smokeGrey); /* #F3F3F3 */
  --nds-red: var(--rgb-errorDark); /* #D93B3B */
  --nds-white: var(--rgb-white); /* #FFFFFF */
  --nds-font-family: var(--font-family-body);
  --nds-header-font: var(--font-family-heading);
  --subdued-20-opacity: var(--alpha-20);
  --subdued-10-opacity: var(--alpha-10);
  --subdued-5-opacity: var(--alpha-5);
}

// webfont
@import "fonts/fonts.css";

// icons
@import "icons/icons.css";

// base styles
@import "base-styles/reset";
@import "base-styles/defaults";
@import "base-styles/typography";
@import "base-styles/grid";

// Components
@import "RadioButtons/";
@import "Input/";
@import "DateInput/";
@import "Button/";
@import "Card/";
@import "LoadingShim/";
@import "LoadingSkeleton/";
@import "Dialog/";
@import "Modal/";
@import "Checkbox/";
@import "Dropdown/";
@import "DropdownTrigger/";
@import "Tooltip/";
@import "Row/";
@import "Pagination/";
@import "SeparatorList/";
@import "Popover/";
@import "Toggle/";
@import "Tabs/";
@import "Tag/";

// Helper classes
@import "helper-classes/position";
@import "helper-classes/spacing";
@import "helper-classes/font";
@import "helper-classes/background";
@import "helper-classes/border";
@import "helper-classes/forms";
@import "helper-classes/scroll";
@import "helper-classes/lists";
