.nds-checkbox {
    display: flex;
    width: fit-content;
    position: relative;
    padding-left: 46px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .checkmark {
        background-color: RGB(var(--nds-primary-color));
        border: 2px solid RGB(var(--nds-primary-color));
        &:after {
          display: block;
        }
      }
    }

    .checkmark {
      position: absolute;
      left: 0;
      height: 24px;
      width: 24px;
      background-color: white;
      border-radius: 3px;
      border: 2px solid grey;
      &:hover input ~ .checkmark {
        border: 2px solid RGB(var(--nds-primary-color));
      }
      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 9px;
        top: 0.2em;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        border-radius: 1px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }