/* The container */
.container {
    display: flex;
    width: fit-content;
    position: relative;
    padding-left: 46px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 3px;
    border: 2px solid grey;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    border: 2px solid RGB(var(--nds-primary-color));
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: RGB(var(--nds-primary-color));
    border: 2px solid RGB(var(--nds-primary-color));
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 0.2em;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    border-radius: 1px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }