/* This is intended as a series of overrides for the "airbnb" Flatpickr theme */

body {
  .flatpickr-calendar {
    margin-top: 7px;
    margin-left: -10px;
    box-shadow: 2px 0 0 RGB(var(--nds-primary-color)),
    -2px 0 0 RGB(var(--nds-primary-color)),
    0 2px 0 RGB(var(--nds-primary-color)),
    0 -2px 0 RGB(var(--nds-primary-color)),
    0 3px 13px RGB(0 0 0 / 8%);

    &:before,
    &:after {
      display: none;
    }
  }

  span.flatpickr-day.today:not(.selected), span.flatpickr-day.prevMonthDay.today:not(.selected), span.flatpickr-day.nextMonthDay.today:not(.selected) {
    border-bottom-color: #e9e9e9;
  }

  .flatpickr-months {
    margin-top: 8px;

    * {

      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
  }

  .flatpickr-month {
    font-family: var(--nds-font-family);
  }

  .flatpickr-current-month {
    color: RGB(var(--nds-primary-color));

    span.cur-month {
      user-select: none;
      background: none;
      pointer-events: none;
    }

    .numInputWrapper {
      background: none;
      user-select: none;
      pointer-events: none;
      width: 5ch;

      input.cur-year {
        user-select: none;
      }
    }

    input.cur-year {
      font-weight: 700;
    }
  }

  .flatpickr-calendar.animate.open {
    animation: none;
    -webkit-animation: none;
  }

  .flatpickr-weekdays {
    padding-bottom: 4px;
    padding-top: 8px;
    font-size: 16px;
  }

  .flatpickr-day.today:hover, .flatpickr-day.today:focus {
    border-color: #e9e9e9 !important;
    background: inherit !important;
  }

  span.flatpickr-weekday {
    font-family: var(--nds-font-family);
    font-weight: 400;
    user-select: none;
  }

  span.flatpickr-day {
    color: var(--nds-black);
    font-family: var(--nds-font-family);
    user-select: none;
    padding-top: 1px;
    margin-top: -1px;
  }

  .flatpickr-day.inRange, .flatpickr-day.prevMonthDay.inRange,
  .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.today.inRange,
  .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.nextMonthDay.today.inRange,
  .flatpickr-day:hover, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.nextMonthDay:hover,
  .flatpickr-day:focus, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.nextMonthDay:focus,
  .flatpickr-day.selected, .flatpickr-day.startRange,
  .flatpickr-day.endRange, .flatpickr-day.selected.inRange,
  .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange,
  .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus,
  .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover,
  .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover,
  .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay,
  .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay,
  .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
    background-color: transparent;
    color: white;
    border-color: #e9e9e9;
    border-right: none;

    &:after {
      position: absolute;
      content: "\A";
      background-color: RGB(var(--nds-primary-color));
      border-radius: 40px;
      height: 30px;
      width: 30px;
      z-index: -1;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      margin-top: 1px;
      margin-left: 0.2px;
    }
  }

  .flatpickr-day.inRange, .flatpickr-day.prevMonthDay.inRange,
  .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.today.inRange,
  .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.nextMonthDay.today.inRange,
  .flatpickr-day:hover, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.nextMonthDay:hover, .flatpickr-day:focus,
  .flatpickr-day.prevMonthDay:focus, .flatpickr-day.nextMonthDay:focus {
    padding-top: 1px;
  }

  .flatpickr-months .flatpickr-prev-month,
  .flatpickr-months .flatpickr-next-month  {
    top: 6px;

    svg {
      display: none;
    }

    &:hover {
      color: RGB(var(--nds-primary-color));
    }

    &:after {
      position: relative;
      font-family: 'icomoon';
      top: -2px;
      font-size: 24px;
      color: RGB(var(--nds-primary-color));
    }
  }

  .flatpickr-months .flatpickr-prev-month:after {
    /* narmi-icon-chevron-left */
    content: "\e940";
    margin-left: 30px;
  }
  .flatpickr-months .flatpickr-next-month:after {
    /* narmi-icon-chevron-right */
    content: "\e941";
    margin-right: 30px;
  }
}