@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?73jh1d");
  src: url("fonts/icomoon.eot?73jh1d#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?73jh1d") format("truetype"),
    url("fonts/icomoon.woff?73jh1d") format("woff"),
    url("fonts/icomoon.svg?73jh1d#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="narmi-icon-"],
[class*=" narmi-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.narmi-icon-venmo:before {
  content: "\e90a";
}
.narmi-icon-p2p:before {
  content: "\e908";
}
.narmi-icon-check:before {
  content: "\e906";
}
.narmi-icon-check-endorsed:before {
  content: "\e902";
}
.narmi-icon-bank:before {
  content: "\e900";
}
.narmi-icon-folder-open:before {
  content: "\e901";
}
.narmi-icon-group:before {
  content: "\e903";
}
.narmi-icon-settings-gear:before {
  content: "\e907";
}
.narmi-icon-piggy-bank:before {
  content: "\e905";
}
.narmi-icon-bill:before {
  content: "\e90c";
}
.narmi-icon-venmo-logo:before {
  content: "\e90b";
  color: #3d95ce;
}
.narmi-icon-face-id:before {
  content: "\e909";
}
.narmi-icon-office:before {
  content: "\e904";
}
.narmi-icon-library:before {
  content: "\e921";
}
.narmi-icon-file-text:before {
  content: "\e922";
}
.narmi-icon-profile:before {
  content: "\e923";
}
.narmi-icon-credit-card:before {
  content: "\e93f";
}
