$mobile_size: 375px;
$tablet: 768px;
$desktop-small: 1280px;
$desktop-big: 1440px;
:root {
    --nds-background: 256, 256, 256;
    --nds-disabled: 217, 217, 217;
    --nds-text-header: 51, 51, 51;
    --nds-text: 76, 76, 76;
    --nds-font-family: 'Mulish';
    --nds-header-font: 'Narmi Matiere';
}

@import "typography";

// Components
@import "RadioButtons";
@import "Input";
@import "Button";
@import "Grid";
@import "icons.css";