$mobile_size: 375px;
$tablet: 768px;
$desktop-small: 1280px;
$desktop-big: 1440px;

:root {
    --nds-black: 51, 51, 51;            /* #333333 */
    --nds-grey: 76, 76, 76;             /* #4C4C4C */
    --nds-medium-grey: 140, 140, 140;   /* #8C8C8C */
    --nds-lightest-grey: 217, 217, 217; /* #D9D9D9 */
    --nds-smoke-grey: 243, 243, 243;    /* #F3F3F3 */
    --nds-red: 217, 59, 59;             /* #D93B3B */
    --nds-white: 256, 256, 256;         /* #FFFFFF */
    --nds-light-green: 227, 250, 231;   /* #E3FAE7 */
    --nds-green: 55, 179, 116;          /* #37B374 */
    --nds-font-family: 'Mulish';
    --nds-header-font: 'Narmi Matiere';
    --subdued-20-opacity: 0.2;
    --subdued-10-opacity: 0.1;
    --subdued-5-opacity: 0.05;
}

@import "fonts.css";
@import "typography";

// Components
@import "RadioButtons";
@import "Input";
@import "DateInput";
@import "Button";
@import "Grid";
@import "Card";
@import "Modal";
@import "Details";
@import "CheckBox";
@import "Dropdown";
@import "Toast";
@import "icons.css";
