$mobile_size: 375px;
$tablet: 768px;
$desktop-small: 1280px;
$desktop-big: 1440px;

:root {
    --nds-black: 51, 51, 51;            /* #333333 */
    --nds-grey: 76, 76, 76;             /* #4C4C4C */
    --nds-medium-grey: 140, 140, 140;   /* #8C8C8C */
    --nds-lightest-grey: 208, 208, 208; /* #D9D9D9 */
    --nds-background: 256, 256, 256;
    --nds-disabled-background: 243, 243, 243;
    --nds-font-family: 'Mulish';
    --nds-header-font: 'Narmi Matiere';
}

@import "fonts.css";
@import "typography";

// Components
@import "RadioButtons";
@import "Input";
@import "DateInput";
@import "Button";
@import "Grid";
@import "Card";
@import "Modal";
@import "Details";
@import "icons.css";
