.nds-modal .nds-modal-overlay {
    display: none;
    z-index: 1; // ${modalZIndex};
    background: #000;
    opacity: 70%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .nds-modal.open > .nds-modal-overlay {
    display: block;
  }

  .nds-modal-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .nds-modal .nds-modal-dismiss {
    display: none;
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
  }
  .nds-modal.open > .nds-modal-container > .nds-modal-dismiss {
    display: block;
  }
  .nds-modal > .nds-modal-container {
    display: none;
    z-index: 1; // ${modalZIndex};
    position: fixed;
    background: RGB(var(--nds-background));
  }
  .nds-modal.open > .nds-modal-container {
    display: block;
  }

  /* right styles */
  .nds-modal.right > .nds-modal-container {
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 335px;
    padding: 40px 25px 40px 20px;
  }

  /* details styles */
  .nds-modal.details.open .nds-modal-overlay {
    display: none;
  }
  .nds-modal.details.open > .nds-modal-container > .nds-modal-dismiss {
    display: none;
  }
  .nds-modal.details > .nds-modal-container {
    position: static;
  }
//   @media ${`(min-width: ${deviceBreakpoints.desktop})`} {
//     .nds-modal.details.open .nds-modal-overlay {
//       display: block;
//       opacity: 0;
//     }
//     .nds-modal.details > .nds-modal-container {
//       position: fixed;
//     }
//   }