.nds-tooltip {
    position: absolute;
    display: inline-block;
    color: #006080;
    background: transparent;
    &:hover .nds-tooltiptext {
        visibility: visible;
        opacity: 1;
    }
    .nds-tooltiptext {
        visibility: hidden;
        position: absolute;
        width: 120px;
        background-color: #333333;
        color: #FFFFFF;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        z-index: 1;
        opacity: 0;
        transition: opacity .6s;
      }
      .tooltip-right {
        top: -5px;
        left: 125%;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent #333333 transparent transparent;
        }
    }
    
    .tooltip-top {
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #333333 transparent transparent transparent;
        }
    }
    
    .tooltip-bottom {
        top: 135%;
        left: 50%;
        margin-left: -60px;
        &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #333333 transparent;
        }
    }
    
    .tooltip-left {
        top: -5px;
        bottom: auto;
        right: 128%;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent transparent #333333;
        }
    }
}

