.nds-tooltip {
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-family: var(--nds-font-family);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);

  .tippy-content {
    text-align: center;
    padding: 16px;
  }

  .tippy-arrow {
    background-color: #333;
  }
}
