.nds-typography {
  h1,h2,h3,h4,h5 {
    color: var(--nds-black);
  }
  h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
  }
  h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
  }
  h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
  }
  h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
  }
  h5 {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
  }
  p, label {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}