.nds-typography {
  font-family: var(--nds-font-family);
  text-rendering: geometricPrecision;

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--nds-header-font);
    color: var(--nds-black);
    font-weight: 700;

    &::first-letter {
      text-transform: capitalize;
    };
  }

  h1,
  h2,
  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  h2 {
    font-size: 28px;
    line-height: 35px;
  }
  h3 {
    font-size: 24px;
    line-height: 30px;

    &.nds-sans {
      font-family: var(--nds-font-family);
    }
  }
  h4 {
    font-size: 20px;
    line-height: 25px;

    &.nds-sans {
      font-family: var(--nds-font-family);
    }
  }
  h5 {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
  }

  .nds-subheader {
    font-family: var(--nds-font-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  p {
    /* Default is equivalent to `.nds-p1.nds-lighter` */
    font-family: var(--nds-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    &.nds-p1 {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;

      &.nds-light {
        font-weight: 600;
      }

      &.nds-lighter {
        font-weight: 400;
      }
    }

    &.nds-p2 {
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;

      &.nds-light {
        font-weight: 400;
      }
    }

    &.nds-p3 {
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;

      &.nds-light {
        font-weight: 400;
      }
    }
  }
}
