/** TableInput */
.nds-tableField-input {
  @extend %tableField;
  grid-template-columns: 1fr min-content; // [input       ] [counter]

  input {
    padding: 0;
    margin: 0;
    outline: none;
    border-width: 0;
    color: var(--font-color-primary);
    font-size: inherit;
    font-weight: inherit;
    text-rendering: geometricprecision;
    background: transparent;
    min-width: 0; // Allow input to shrink below its content width
    &::placeholder {
      font-style: italic;
      color: var(--font-color-secondary);
    }
  }

  // Regardless of what rennders in the DOM, only show the
  // counter when the input is focused
  .nds-tableInput-counter {
    visibility: hidden;
  }
  input:focus + .nds-tableInput-counter {
    visibility: visible;
  }

  &:has(input:hover) {
    @extend %tableField-hover;
  }

  &:has(input:focus) {
    @extend %tableField-active;
  }

  &--hasError {
    border-color: var(--color-errorDark) !important;
  }
}
