@import "../Button/variants.scss";
@import "../Button/sizes.scss";
@import "../Button/states.scss";

.nds-splitButton {
  display: inline-flex;
  min-height: fit-content;
  align-items: stretch;

  .nds-button {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.nds-splitButton-action {
  @extend %btn-size-m;
  border-left: 1px solid var(--color-white);
  width: rem(40px);
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.nds-splitButton-action--xs {
  @extend %btn-size-xs;
  width: rem(24px);
}
.nds-splitButton-action--s {
  @extend %btn-size-s;
  width: rem(32px);
}
.nds-splitButton-action--m {
  @extend %btn-size-m;
  width: rem(40px);
}

.nds-splitButton-action--primary,
.nds-splitButton-action--secondary,
.nds-splitButton-action--tonal {
  @extend %btn-kind-base;
}

.nds-splitButton-action--primary,
.nds-splitButton-action--primary.resetButton {
  @extend %btn-kind-primary;
}

.nds-splitButton-action--secondary,
.nds-splitButton-action--secondary.resetButton {
  @extend %btn-kind-secondary;
}

.nds-splitButton-action--tonal,
.nds-splitButton-action--tonal.resetButton {
  @extend %btn-kind-tonal;
}

.nds-splitButton-action--loading {
  @extend %btn-state-loading;
}

.nds-splitButton--disabled {
  &.nds-splitButton-action-primary {
    @extend %btn-state-disabled-primary;
  }
  &.nds-splitButton-action-secondary {
    @extend %btn-state-disabled-secondary;
  }
  &.nds-splitButton-action-tonal {
    @extend %btn-state-disabled-tonal;
  }
}
