# Updates snapshots in chromatic, using latest `main` as basleline
name: 'Chromatic Snapshot Baseline'
permissions:
  contents: read
on:
  push:
    branches:
      - main

jobs:
  chromatic_update_baseline:
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --loglevel=warn

      - name: Build
        run: npm run build && npm run build-storybook

      - name: Auto-accept chromatic snapshots from `main`
        uses: chromaui/action@4c20b95e9d3209ecfdf9cd6aace6bbde71ba1694 # v13
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          autoAcceptChanges: true
          exitZeroOnChanges: false
          buildScriptName: ''
          storybookBuildDir: './storybook-static'