name: Github Pages
permissions:
  contents: write
on:
  push:
    branches:
      - main

jobs:
  github-pages-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org

      - name: Build static storybook
        run: |
          npm ci -loglevel=warn
          npm run build-storybook

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # v4
        with:
          branch: gh-pages
          folder: storybook-static
