name: Jest
permissions:
  contents: read
on: [pull_request]
jobs:
  Run-jest-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org

      - name: Jest
        run: |
          echo "The job was automatically triggered by a ${{ github.event_name }} event."
          npm install
          npm run build
          npm run test
