name: Jest
permissions:
  contents: read
on: [pull_request]
jobs:
  Run-jest-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Cache build
        id: build-cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: dist
          key: build-${{ hashFiles('src/**', 'package-lock.json') }}

      - name: Build
        if: steps.build-cache.outputs.cache-hit != 'true'
        run: npm run build

      - name: Jest
        run: |
          echo "The job was automatically triggered by a ${{ github.event_name }} event."
          npm run test
