name: Check License
on: [pull_request]
permissions:
  contents: read
jobs:
  Check-license:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org
      - run: |
          npm ci
          npm run build
          npx license-checker --onlyAllow "MIT;0BSD;Apache 2.0;Apache-2.0;Artistic-2.0;BSD*;BSD-2-Clause;BSD-3-Clause;CC-BY-3.0;CC-BY-4.0;CC0-1.0;ISC;MIT*;MPL-2.0;ODC-By-1.0;Python-2.0;Unlicense;WTFPL;BlueOak-1.0.0" --excludePackages "taffydb@2.6.2"