.nds-field-select-value {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--font-size-s);
  color: var(--font-color-primary);

  &:empty::before {
    content: attr(data-placeholder);
    color: var(--font-color-secondary);
  }
}
